body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-in-out;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .contact-info p {
    margin-bottom: 10px;
    animation: slideInRight 1s ease-in-out;
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .contact-info strong {
    font-weight: bold;
  }
  
  .map-container {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .social-media {
    margin-top: 30px;
    animation: slideInBottom 1s ease-in-out;
  }
  
  @keyframes slideInBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .social-media h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .social-media ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media ul li img {
    width: 30px;
    height: 30px;
  }
  
  /* Telefon modu için CSS */
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
      margin: 20px auto;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .contact-info p {
      font-size: 14px;
    }
  
    .social-media ul li img {
      width: 25px;
      height: 25px;
    }
  }
  